* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(65, 64, 64);
  /* color: white;/ */
}
.navbar {
  background-color: #333;
  color: #fff;
  padding: 15px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}
.img-contianer {
  display: flex;
  align-items: center;
}
.container img {
  height: 80px;
  width: 80px;
  mix-blend-mode: color-dodge;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  transition: color 0.3s ease;
}
.container button {
  background-color: rgb(118, 118, 233);

  height: 40px;
  width: 90px;
  border-radius: 40px;
  border: none;
  gap: 10px;
  transition: 0.3s ease-in-out;
}
.container button:hover {
  cursor: pointer;
  background-color: #ffcc00;
  color: #fff;
}

.nav-links li a:hover {
  color: #ffcc00; /* Change color on hover */
  cursor: pointer;
}
/* <--------------------------------------------------> */
.main .hero {
  text-align: center;
}

.hero img {
  mix-blend-mode: hard-light;
  height: 90vh;
  width: 100vh;
}
