* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "gilro";
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #01040b;
}
.main {
  width: 100%;
  height: 100vh;
}

nav {
  background-color: blue;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  /* background-color: rgb(84, 84, 241); */
}

.logo-container {
  color: white;
  display: flex;
  align-items: center;
}
.logo-container img {
  height: 80px;
  width: 100px;
  mix-blend-mode: color-dodge;
}
.logo-container h3 {
  font-size: 35px;
  font-weight: bold;
}
.nav-links a {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 5px;
  font-weight: bold;
  font-size: 20px;
  transition: 0.3s ease-in-out;
}

.nav-links a:hover {
  color: orange;
}
.nav-links button {
  padding: 10px;
  border-radius: 20px;
  border: none;
  transition: 0.3s ease-in-out;
}
.nav-links button:hover {
  background-color: blue;
  color: white;
}

/* ----------------------------------------------- */

.hero {
  background-color: yellow;
  color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}
.hero img {
  background-color: red;
  width: 100%;
  height: 100vh;
  z-index: 9;

  /* mix-blend-mode: hard-light; */
}
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 99;
  text-align: center;
}
.text-overlay h1 {
  font-size: 97px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  top: -50px;
  position: relative;
}
.btn {
  width: 110px;
  height: 35px;
  border-radius: 30px;
  border: none;
  background-color: aqua;
}

.btn i {
  padding: 5px;

  background-color: white;
  border-radius: 50%;
  margin-left: 10px;
}
